body{ margin:0;}

.content {
    position: absolute;
    margin-left: 4% ;
    margin-top: 2% ;
    font-family: 'Paytone One', sans-serif;
    font-size: 7vw;
    color: white;
}

.links {
    position: absolute ;
    transform: scale(50%) ;
    transform-origin: left ;
    bottom: 57%;
    width: 100%;
    margin-left: 4%;
    height: 2.5rem;
}

.footer {
    position: absolute ;
    transform: scale(20%) ;
    transform-origin: left ;
    bottom: 7%;
    width: 100%;
    margin-left: 4%;
    height: 2.5rem;
}   


a {
    color: #ffffff;
} 



#About {
    position: absolute ;
    left: 40%;
    top: 40%;
    color: white;
    border-radius: 5px ;
    background: rgba(75, 75, 75, 0.5); 
    padding: 60px; 
    width: 45%;
    visibility: hidden;
}

#close {
    position: absolute ;
    transform: scale(0.1) ;
    transform-origin: top right;
    right: 0% ;
    top: 1% ;
}

#videobcg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    -o-filter: blur(0px);
    filter: blur(0px);
    transform: scale(1.04);
}