

body{ 
    margin:0;
    background: rgb(9,9,79);
    background: linear-gradient(90deg, rgba(9,9,79,1) 9%, rgba(61,138,105,1) 100%);
}

.content {
    position: absolute;
    margin-left: 4% ;
    margin-top: 2% ;
    font-family: 'Paytone One', sans-serif;
    font-size: 7vw;
    color: white;
}

.links {
    position: absolute;
    margin-left: 4%;
    margin-top: 40vh;
    font-size: 2.5vh;
    font-family: 'Source Code Pro', monospace;
    color: white;

}

.projects {
    position: absolute;
    overflow-x:scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20vh;
    font-size: 2vh;
    width: 100vw;
    height: 90vh;
    font-family: 'Source Code Pro', monospace;
    white-space: nowrap;
    color: white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.projects:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1.02);
}

.footer {
    position: absolute;
    margin-left: 4%;
    bottom: 1vh;
}   

a {
    color: #ffffff;
    text-decoration: none;
} 

h1:hover {
    background-color: rgba(255,255,255,0.5);
    pointer-events: all;
    cursor: pointer;
}

#About {
    position: absolute ;
    left: 30vw;
    top: 30vh;
    color: white;
    border-radius: 5px ;
    background: rgba(75, 75, 75, 0.5); 
    padding: 3.5vw; 
    width: 90vh;
    visibility: hidden;
    font-size: 2vh;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#close {
    position: absolute ;
    transform: scale(0.1) ;
    transform-origin: top right;
    right: 0% ;
    top: 1% ;
}

#project {
    text-align:center;
    border-radius: 15px;
    height: 60vh;
    width: 30vh;
    margin: 1vw;
    white-space: normal;
    background-color: rgba(37, 37, 37, 0.657);
    overflow: hidden;
    transition: 0.5s ease;
}

#project a {
    position: relative;
    top: 65%;
    left: 0%;
}

#project:hover {
    background-color: #3d3d3df3;
    transform: scale(1.03);
}

#blurb {
    margin: 1%;
    font-size: 2.1vh;
}

#videobcg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    -o-filter: blur(0px);
    filter: blur(0px);
    transform: scale(1.04);
}

#console {
    position: absolute;
    visibility: hidden;
    z-index: 9;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    height: 76%;
    background-color: #555555;
    opacity: 80%;
    border-radius: 10px;
    color: #fff;
}

#consolclose {
    position: absolute;
    margin-top: -6%;
    margin-left: 94.5%;
    font-size: 38px;
    color: rgb(187, 187, 187);
}

#consoleheader {
    padding: 10px;
    cursor: move;
    visibility: hidden;
    height: 4%;
    z-index: 10;
    color: #fff;
}

#consolelog {
    visibility: hidden;
    z-index: 10;
    width: 95%;
    height: 85%;
    margin-left: 2.5%;
    background-color: #252525;
    color: #fff;
    overflow: scroll;
}

#consoleinput {
    visibility: hidden;
    z-index: 10;
    width: 82.5%;
    margin-top: 2%;
    height: 4%;
    margin-left: 2.5%;
    background-color: #252525;
    color: #fff;
}

#consoleinputbutton {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 12%;
    height: 4.2%;
    margin-left: 86%;
    margin-top: -3.9%;
    background-color: #252525;
    text-align: center;
    color: #fff;
}

input {
    background-color: #252525;
    color: #fff;
    width: 99%;
    height: 99%;
    border: none;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 